.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    max-width: 200px;
    text-align: center;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }
  /* Absolute Center Spinner */
.loading-indicator {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .button-wrapper {
    display: flex;
    align-items: center;
  }

  .chart-wrapper {
    text-align:center;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
   
  }

  .charts {
    background-color: white;
  }
  h1 , h2 , .charts {
    background-color: white;
  }
  /* .chart-container {
    width: 80%;
    height: 480px;
    margin: 0 auto;
  } */
  /* .chart-wrapper
  {
    width: 300px;
    height: 300px;
    background-color: whitesmoke;
    text-align: center;
  } */

  /* canvas
  {
    width: 100%;
    
  } */
